In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

items_url = 'https://storage.googleapis.com/kaggle-competitions-data/kaggle/8587/items.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529183169&Signature=Bo860sxFkQbVz0dJno6S4yFfcg5OiOmWb9mMmEcjY4oPAHjlCfjaxmiK%2FgqDu%2FJsn%2FIyXvXywjMAgfjPFC0lNH2QFMSp30FwAtOfnStsXn%2B4k1GvMIetqmJu%2FaCs6D2PdAUZ0nv7Efdk6RUD8rDgJcjjDlIcUmvgYtA8dFbC3YMsY8ZdWjILeYsOLF1CnRP8Q3giJGOw1lmiyaZ9N3KitSNW4Onf4sQBtsEn63%2FRoYh7Lpw9tbzChCZH2FeLDGENSHID6ELhESO%2BTFkUbCMLdaM5leyYSnv6xSTlzmn6zwtFnD%2FmA%2BAHy%2FlGRRmhJs1ryWRP354sbc1CzvoCuhEPpg%3D%3D'
items_categories_url = 'https://storage.googleapis.com/kaggle-competitions-data/kaggle/8587/item_categories.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529183232&Signature=s1tM1i2zJMSFndjzhkehDgrPp%2FXYzjX8oibYC6cZdATqKDJZC0Uz3NqycVat6%2FMMM4WIJ10hSUlfQz9bvsG%2FX1i5S9Tpd35VAOmydQ1LSPffqB8H0%2F7AJA3z4QDkrypecStydcmgpALwrRJmDq6s6DoaYX8WypKNog7vW6uFV1ClW2gJKJ7oDPkemh9GkvrD7Su9mzDe9sw7UaaOQ6kTBGR69ilXdaCt%2FbwX18x17lUs1l2ewdPf2Km%2FFTi7AxYbt1zkejjpiIwrGrLLHTJ9Fqj9rT0GXfN2YP6uddM6%2B6wvnhppwJTqXqNdUM%2FdXDXAcPIbhRMeAnk%2BzSZZXR0DxQ%3D%3D'
shops_url = 'https://storage.googleapis.com/kaggle-competitions-data/kaggle/8587/shops.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529183286&Signature=ITZJcPXHPukk8v9XGTnPKdaI7DzvMz7FGAmCa%2Br8murBWu1gZXq6zhYt15biIQDXe%2B50h3hLSOUAhrUsvMuc4NIRIY4dgmEv300GoV157XYyDQe1gcixabCe8hvu9V1GhLKGoCy2tXXgoOpG0q1RGIBdn%2BarcwLRk3hVK1s4PfOFWWhheauJcbjrOglPu0MwUaSllahwyjXdJ%2FzXqOkf9ZtIkGtUmfTKGrfwCH7ec3TXJ1s0EeS%2FabjnKqBYFkOvNmDvZOSlOaZ7f2mixMSkPHEfHr9mm%2BbVMnFutsii8QqKDUYwBaYZ76VQziU7yMmfxu0bpXAJ0%2Bdyy%2BdlNHGtSA%3D%3D'
sales_train_url = '/Users/frhyme/Downloads/sales_train_v2.csv'
test_url = '/Users/frhyme/Downloads/test.csv'

items_df = pd.read_csv(items_url)
items_categories_df = pd.read_csv(items_categories_url)
shops_df = pd.read_csv(shops_url)
sales_train_df = pd.read_csv(sales_train_url, parse_dates=['date'], 
                             date_parser=lambda date: pd.to_datetime(date, format='%d.%m.%Y'))
test_df = pd.read_csv(test_url)

items_df.head()
items_categories_df.head()
shops_df.head()
sales_train_df.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
2 2013-01-05               0       25     2552      899.00          -1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [26]:
sales_train_df.columns
# 이렇게 묶으면, 달별/삽별/아이템별로 묶여짐. 이 때, 묶여진 값이 예측해야 하는 값 
sales_train_grp = sales_train_df.groupby(['date_block_num','shop_id','item_id'])
sales_train_grp.mean().index

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [8]:
# 다행히도, missing value는 없음. 
for col in sales_train_df.columns:
    print(sales_train_df[col].isnull().sum())

0
0
0
0
0
0