In [43]:
input_s = """두산
46
30
0
16
0.652
0.0
2위
 
한화
46
27
0
19
0.587
3.0
3위
 
SK
46
26
0
20
0.565
4.0
4위
 
KIA
46
24
0
22
0.522
6.0
5위
 
LG
49
24
0
25
0.490
7.5
5위
 
넥센
49
24
0
25
0.490
7.5
7위
 
롯데
45
22
0
23
0.489
7.5
8위
 
KT
47
20
0
27
0.426
10.5
9위
 
삼성
48
20
0
28
0.417
11.0
10위
 
NC
48
18
0
30
0.375
"""
for s in input_s.split("\n \n"):
    print(s.split("\n"))

['두산', '46', '30', '0', '16', '0.652', '0.0', '2위']
['한화', '46', '27', '0', '19', '0.587', '3.0', '3위']
['SK', '46', '26', '0', '20', '0.565', '4.0', '4위']
['KIA', '46', '24', '0', '22', '0.522', '6.0', '5위']
['LG', '49', '24', '0', '25', '0.490', '7.5', '5위']
['넥센', '49', '24', '0', '25', '0.490', '7.5', '7위']
['롯데', '45', '22', '0', '23', '0.489', '7.5', '8위']
['KT', '47', '20', '0', '27', '0.426', '10.5', '9위']
['삼성', '48', '20', '0', '28', '0.417', '11.0', '10위']
['NC', '48', '18', '0', '30', '0.375', '']

In [ ]:
import pandas as pd
df = {
    'name':[],
    'g':[],
    'w':[],
    'l':[],
}
for s in input_s.split("\n \n"):
    n, g, w, _, l = s.split("\n")[:5]
    df['name'].append(n)
    df['g'].append(g)
    df['w'].append(w)
    df['l'].append(l)
df = pd.DataFrame(df)
df['g']= df['g'].astype('float32')
df['w']= df['w'].astype('float32')
df['l']= df['l'].astype('float32')
df['py'] = df['w']**2 / (df['w']**2 + df['l']**2)
df['pyW'] = df['py']*df['g']
df

In [81]:
input_s = """1	두산	46	30	16	0	-	0.652	271	239
2	한화	46	27	19	0	3.0	0.587	222	224
3	SK	46	26	20	0	4.0	0.565	264	230
4	KIA	46	24	22	0	6.0	0.522	270	230
5	LG	49	24	25	0	7.5	0.490	246	231
5	넥센	49	24	25	0	7.5	0.490	245	242
7	롯데	45	22	23	0	7.5	0.489	235	231
8	kt	47	20	27	0	10.5	0.426	239	263
9	삼성	48	20	28	0	11.0	0.417	236	270
10	NC	48	18	30	0	13.0	0.375	197	265"""

import pandas as pd
df = {
    'name':[],
    'g':[],
    'w':[],
    'l':[],
    'RS':[],
    'RA':[]
}
for s in input_s.split("\n"):
    try:
        _, name, g, w, l, _, _, _, RS, RA = s.split("\t")
        df['name'].append(name)
        df['g'].append(g)
        df['w'].append(w)
        df['l'].append(l)
        df['RS'].append(RS)
        df['RA'].append(RA)
    except:
        print(len(s.split("\t")))
        print(s.split("\t"))
df = pd.DataFrame(df)
df['RS'] = df['RS'].astype('float32')
df['RA'] = df['RA'].astype('float32')
df['g'] = df['g'].astype('float32')
df['X'] = (df['RS'] + df['RA'])/df['g'] * 0.287
df['py'] = [df.iloc()[i]['RS']**X / (df.iloc()[i]['RS']**X + df.iloc()[i]['RA']**X) for i, X in enumerate(df['X'])]

#df['pyW'] = df['py']*df['g']
print(df.sort_values('py', ascending=False))

      RA     RS     g   l name   w         X        py
3  230.0  270.0  46.0  22  KIA  24  3.119565  0.622506
2  230.0  264.0  46.0  20   SK  26  3.082130  0.604663
0  239.0  271.0  46.0  16   두산  30  3.181957  0.598647
4  231.0  246.0  49.0  25   LG  24  2.793857  0.543830
6  231.0  235.0  45.0  23   롯데  22  2.972044  0.512753
5  242.0  245.0  49.0  25   넥센  24  2.852428  0.508785
1  224.0  222.0  46.0  19   한화  27  2.782652  0.493761
7  263.0  239.0  47.0  27   kt  20  3.065404  0.427189
8  270.0  236.0  48.0  28   삼성  20  3.025458  0.399584
9  265.0  197.0  48.0  30   NC  18  2.762375  0.305951

      RA     RS     g   l name   w         X        py
0  239.0  271.0  46.0  16   두산  30  3.181957  0.598647
1  224.0  222.0  46.0  19   한화  27  2.782652  0.493761
2  230.0  264.0  46.0  20   SK  26  3.082130  0.604663
3  230.0  270.0  46.0  22  KIA  24  3.119565  0.622506
4  231.0  246.0  49.0  25   LG  24  2.793857  0.543830
5  242.0  245.0  49.0  25   넥센  24  2.852428  0.508785
6  231.0  235.0  45.0  23   롯데  22  2.972044  0.512753
7  263.0  239.0  47.0  27   kt  20  3.065404  0.427189
8  270.0  236.0  48.0  28   삼성  20  3.025458  0.399584
9  265.0  197.0  48.0  30   NC  18  2.762375  0.305951

In [16]:
def P(r, AVG, OBP, SLG):
    p = (0.1073 - r*0.11)* (((25*OBP*SLG)/(1-AVG))**(1/3.0))
    return list(map(lambda x: round(x, 3), (AVG-p, OBP-p, SLG-p)))


P(0.75, 0.35, 0.45, 0.55)

[0.297, 0.397, 0.497]

In [105]:
import json
k = json.load(open("sample_ipynb_to_import.ipynb", 'r', encoding='utf-8'))
print(type(k))
print(k.keys())

<class 'dict'>
dict_keys(['cells', 'metadata', 'nbformat', 'nbformat_minor'])

In [ ]:
all_code_lst =[]
for cell in k['cells']:
    if cell['cell_type']=='code':
        all_code_lst.append("".join(cell['source']))
all_code = "\n".join(all_code_lst)
exec(all_code)

In [111]:
print(len(test_log))

7000

In [114]:
print(return_unique_activities(test_log))

['a', 'b', 'e', 'f', 'c', 'd']

In [115]:
## distance 
from math import*
 
def euclidean_distance(x,y):
    return sqrt(sum(pow(a-b,2) for a, b in zip(x, y)))

 
euclidean_distance([0,3,4,5],[7,6,3,-1])

9.746794344808963

In [ ]:
def manhattan_distance(x,y): 
    if len(x)==len(y):
        r = 0 
        for i in range(0, len(x)):
            r+=abs(x[i]-y[i])
        return r
    else:
        return "error"
manhattan_distance([10,20,10],[10,20,20])

In [143]:
def minkowski_distance(x, y, lam):
    r = 0
    for a, b in zip(x, y):
        r+=(abs(a-b))**lam
    return (r)**(1.0/lam)
print(minkowski_distance([3,3], [0,0], 500))
print(minkowski_distance([3,4], [0,0], 500))
print(minkowski_distance([3,0], [0,0], 500))

3.0041617671340037
4.0
3.0

In [117]:
def jaccard_similarity(x,y):
    intersection = set(x).intersection(set(y))
    union = set(x).union(set(y))
    return len(intersection)/len(union)
 
jaccard_similarity([0,1,2,5,6],[0,2,3,5,7,9])

0.375

In [129]:
def cosine_similarity(x,y):    
    def square_rooted(x):
        return sqrt(sum([a*a for a in x]))
    numerator = sum(a*b for a,b in zip(x,y))
    denominator = square_rooted(x)*square_rooted(y)
    return round(numerator/denominator, 2)
 
cosine_similarity([3, 3], [-3, -5])

-0.97